<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" >
    <Properties>
        <Property name="filename">logs/glossary.log</Property>
        <Property name="patternLayout">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternLayout}"/>
        </Console>
        <Routing name="Routing">
            <Routes pattern="$${ctx:ROUTINGKEY}">
                <Route>
                    <RollingFile name="Rolling" fileName="${filename}"
                                 filePattern="./logs/${date:yyyy-MM}/glossary-%d{yyyy-MM-dd}-%i.log.gz">
                        <PatternLayout>
                            <pattern>${patternLayout}</pattern>
                        </PatternLayout>
                        <Policies>
                            <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                            <SizeBasedTriggeringPolicy size="10 MB" />
                        </Policies>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="Routing"/>
        </Root>
    </Loggers>
</Configuration>